<div>
  <li id="user-<%= user.id %>">
    <%= gravatar_for user %>
    <%= link_to user.nickname, user %>
    <% if current_user.admin? %>
      | <%= link_to "delete", user, method: :delete, data: { confirm: "Are u sure?" }, remote: true %>
    <% end %>
  </li>
</div>