<li>
  <%= gravatar_for user, size: 25 %>
  <%= link_to user.nickname, user %>
  <% if current_user.admin? %>
    | <%= link_to "delete", user, method: :delete, data: { confirm: "Are u sure?" } %>
  <% end %>
</li>
